<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.micua.smartbudget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterUser" />
        <activity android:name=".SignIn" />
        <activity android:name=".SetupBudget" />
        <activity android:name=".SetBudget" />
        <activity android:name=".AddEnvelope" />
        <activity android:name=".SetupBudgetHelp" />
        <activity android:name=".FillEnvelopeManual" />
        <activity android:name=".FillEnvelopeAuto" />
        <activity android:name=".MainScreens" />
        <activity android:name=".EnvelopesHelp" />
        <activity android:name=".Settings" />
        <activity android:name=".AddTransaction" />
        <activity android:name=".HelpAddTransaction"></activity>
    </application>

</manifest>